#caja1 {
    text-align: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    justify-items: center;
}

h1 {
    background-color: #465055;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

table {
    width: 100%;
    border-radius: 10px;
    border: solid 2px;
    padding: 3px;
    border-spacing: 5px;
}

td,
th {
    border: solid 1px #e5e8ed;
    height: 50px;
    border-radius: 3px;
    padding-left: 30px;
    padding-right: 30px;
    white-space: nowrap;
}

.blue {
    background-color: #cdebf0;
}

.green {
    background-color: #d2ebd7;
}

.red {
    color: red;
}

.skyblue {
    color: #0a88f6;
}

.media {
    background-color: #e1e1e1;
    border-left: solid 2px;
}

.max {
    font-style: oblique;
    color: brown;
}

.min {
    font-weight: bold;
    text-decoration: underline;
    color: #0a88f6;
}

.yellow {
    background-color: #ffefd0;
}

.dias {
    background-color: #e1e1e1;
}

#caja2 {
    margin: 10px;
    background-color: #f5f5fa;
    border: solid 1px #eceef1;
    width: 550px;
    padding: 15px;
    padding-top: 0;
    border-radius: 5px;
    text-align: left;
}

span{
    font-weight: bold;
}
hr {
    border-width: 2px;
    color: #8b929b;
}

.punteado{
    margin-top: -5px;
    margin-bottom: -5px;
    border: dotted 1.5px;
    border-color: #e7e9ee;
}
h3 {
    
    color: #465064;
}