* {
    font-family: "Sanchez", serif;
    font-weight: 400;
    font-style: normal;
}

.sanchez-regular-italic {
    font-family: "Sanchez", serif;
    font-weight: 400;
    font-style: italic;
}
header{
    position: fixed;
    top: 0;
}

footer{
    position: fixed;
    bottom: 0;
}
.nav-menu li{
    display: inline-block;
}

nav {
    background-color: #fff;
    height: 70px;
    align-items: center;
    display: flex;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 30px;
    justify-content: start;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

nav div {
    display: flex;
    align-items: center;
    gap: 40px;
}

.search-box {
    position: relative;
    display: inline-block;
}

.search-box input {
    padding-left: 30px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.search-box input:focus {
    outline: grey solid 1.5px;
    transition: all 0.8s;
}

.search-box i {
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
    pointer-events: none;
}

body {
    background-color: rgb(219, 219, 219);
}

.users-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.user-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-top: 15px;
    font-size: 15px;
    width: 400px;
    flex: 1;
    min-width: 350px;
}

footer {
    background-color: #fff;
    margin-top: 40px;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px -6px 12px -2px, rgba(0, 0, 0, 0.3) 0px -3px 7px -3px
}